<html>
    <head></head>
    <body>
        <ul>
            <li> <a href="./numbers">Form 이용해보기</a></li>
            <li><a href="./form">Get 과 POST</a></li>
            <li><a href="./url/wild">parameter(wildcard)</a></li> 
            <li><a href="./search">구글 혹은 네이버 검색창 만들기</a></li>
            <li><a href="./op-gg"> fake op.gg 만들기</a></li>
        </ul>
    </body>
</html>