<table>
    <thead>
        <th>글제목</th>
        <th>내용</th>
        <th>보러가기</th>
    </thead>
    <tbody>
        <% @boards.each do |board| %>
        <tr>
            <td><%= board[0]%></td>
            <td><%= board[1]%></td>
            <td></td>
        </tr>
        <% end %>
    </tbody>
</table>