<form action="/board/create" method="POST">
    <br>
    제목 <input type="text" name="title" placeholder = "제목"> <br/>
    내용 <textarea name = "contents" placeholder = "본문"></textarea>
    <input type="submit" value="등록하기">
</form>
